<main class="main">
  <section class="main_container">

    <section class="main_container_header">
      <img class="main_container_header-img" src="../assets/images/logo_bank.png" alt="Bank icon">
    </section>

    <section class="main_container_body">

      <div class="main_container_body_title">
        <h1 class="main_container_body_title-h1">Al Retail</h1>
        <p class="main_container_body_title-p">The Internet Banking Services</p>
      </div>

      <form class="main_container_body_form">
        <input class="main_container_body_form-input" type="text" placeholder="Please:Tell us what you are looking for">
        <button class="main_container_body_form-btn">Search</button>
      </form>

    </section>

    <section class="main_container_gallery">

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav1.png" alt="Home icon">
        <p class="main_container_gallery_box-p">Home</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav2.png" alt="Accounts icon">
        <p class="main_container_gallery_box-p">Accounts</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav3.png" alt="Transfers icon">
        <p class="main_container_gallery_box-p">Transfers</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav6.png" alt="Payments icon">
        <p class="main_container_gallery_box-p">Payments</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav4.png" alt="Cards icon">
        <p class="main_container_gallery_box-p">Credit Cards</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav5.png" alt="Funds icon">
        <p class="main_container_gallery_box-p">Mutual Funds</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="/assets/images/i-nav7.png" alt="Services icon">
        <p class="main_container_gallery_box-p">Services</p>
      </div>

    </section>

    <section class="main_container_footer">
      <p class="main_container_footer-p">Your are in: <span class="main_container_footer-span">Home</span></p>
    </section>
  </section>
  <aside></aside>
</main>