// fonts
/* $font-main: "Verdana", "Helvetica", sans-serif; */

// colors 
$color-white: #f2f2f2;
$color-general:#199fd9;
$color-feature:#283A97;
$color-btn:#f08429; 
$color-square:#f2f2f2;
$color-text:#76645d;