.container{
    background-color:$color-white;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
  
    &_li{
    list-style: none;
    margin: 0 1rem;
    color: $color-text;
    }

    &_btn{
      @include Button;  
    }

    &_btn::after{
      content: "▶";
      font-size: 0.8rem;
      color: white;
      margin-left:0.5rem;
    }
}
