.main{
  border:1px solid red;

  &_container{
    border:1px solid blue,;
    margin: 0 1rem;

    &_header{
      height: 5rem;
      background-color: $color-feature;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      
      &-img{
      margin-right: 1rem;
      }
    }
  }
}
